body {
  font-family: 'Titillium Web', sans-serif;
}

.register {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background-color: #4caf50;
  /* Green */
  border-radius: 6px;
  border: 1px solid #83c41a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 18px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(104, 134, 54);
}

.register:hover {
  background-color: #409445;
}

.register:active {
  position: relative;
  top: 1px;
}

.registerWin {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 31%;
  left: 31%;
  top: 25%;
  padding: 2rem 2rem 2rem 2rem;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.096);
}

.warning {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  color: red;
  position: fixed;
  right: 31%;
  left: 31%;
  top: 12%;
}

.registerFont {
  font-size: 1.2rem;
}
