body {
  font-family: 'Titillium Web', sans-serif;
}

.willkommen {
  margin: 7rem 20rem 0 20rem;
  padding: 2rem 2rem 2rem 2rem;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.096);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin: 0 1rem 0 1rem;
}

.wrapper a span {
  position: relative;
  z-index: 2;
}

.wrapper a:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4CAF50;
  transition: all 0.35s;
}

.wrapper a:hover {
  color: #fff;
}

.wrapper a:hover:after {
  width: 100%;
}

.login {
  box-shadow: inset 0px 1px 0px 0px #d9fbbe;
  background-color: #4caf50;
  /* Green */
  border-radius: 6px;
  border: 1px solid #83c41a;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 18px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px rgb(104, 134, 54);
}

.login:hover {
  background-color: #409445;
}

.login:active {
  position: relative;
  top: 1px;
}

.loginWin {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 31%;
  left: 31%;
  top: 25%;
  padding: 2rem 2rem 2rem 2rem;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.096);
}

.loginBtn {
  margin-top: 2rem;
}

.incorrect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  color: red;
  position: fixed;
  right: 31%;
  left: 31%;
  top: 12%;
}

.buttons {
  display: flex;
  justify-content: right;
}
